<footer class="footer">
  <div class="d-none d-lg-block">
    <div class="row container" style="margin: auto;">
      <div class="col-3">
        <ul class="lista-footer" style="list-style-type: none;">
          <h6>Wally</h6>
          <li>
            <a href="#!">Carreiras</a>
          </li>
          <li>
            <a href="#!">Notícias</a>
          </li>
          <li>
            <a href="#!">Políticas de Uso</a>
          </li>
          <li>
            <a href="#!">Ajuda</a>
          </li>
          <li>
            <a href="#!">Diversidade e Inclusão</a>
          </li>
          <li>
            <a href="#!">Dados da Empresa</a>
          </li>
        </ul>
      </div>
      <div class="col-3">
        <ul class="lista-footer" style="list-style-type: none;">
          <h6>Descubra</h6>
          <li>
            <a href="#!">Confiança e Segurança</a>
          </li>
          <li>
            <a href="#!">Travel Credit</a>
          </li>
          <li>
            <a href="#!">Airbnb Citizen</a>
          </li>
          <li>
            <a href="#!">Viagem de Negócios</a>
          </li>
          <li>
            <a href="#!">Coisas para Fazer</a>
          </li>
          <li>
            <a href="#!">Wallymag</a>
          </li>
        </ul>
      </div>
      <div class="col-3">
        <ul class="lista-footer" style="list-style-type: none;">
          <h6>Anunciar</h6>
          <li>
            <a href="#!">Por Que Anunciar</a>
          </li>
          <li>
            <a href="#!">Viagem em Segurança</a>
          </li>
          <li>
            <a href="#!">Responsabilidade</a>
          </li>
          <li>
            <a href="#!">Roteiros de Viagem</a>
          </li>
          <li>
            <a href="#!">Parcerias</a>
          </li>
          <li>
            <a href="#!">Central da Comunidade</a>
          </li>
        </ul>
      </div>
      <div class="col-3">
        <ul class="lista-footer-horizontal" style="list-style-type: none;">
          <li>
            <a href="#" class="fa fa-facebook fa-lg"></a>
          </li>
          <li>
            <a href="#" class="fa fa-youtube fa-lg"></a>
          </li>
          <li>
            <a href="#" class="fa fa-instagram fa-lg"></a>
          </li>
          <li>
            <a href="#" class="fa fa-twitter fa-lg"></a>
          </li>
        </ul>
        <%- include('newsletter') %>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    Wally®
  </div>
</footer>