<header class="navbar container">
    <nav class="container-fluid navbar navbar-expand-lg navbar-dark">

        <a class="navbar-logo" href="/"><img src="/stylesheets/img/logoWally-White.png" alt="Wally" /></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="/cadastro">Anuncie sua viagem!</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Ajuda</a></li>
                <% if (usuario) { %>
                    <li class="nav-item">
                        <div class="dropdown nav-link">
                            <p class="dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <%= usuario.email %>
                            </p>
                            <div class="dropdown-menu menu-user" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="/logout">Sair</a>
                            </div>
                        </div>
                    </li>
                <% } else {%> 
                    <li class="nav-item"><a id="botao-cadastrar" class="nav-link" href="/cadastrousuario">Cadastrar</a></li>
                    <li class="nav-item"><a id="botao-entrar" class="nav-link" href="/loginusuario">Entrar</a></li>
                <% } %>     
            </ul>
        </div>
    </nav>      
</header>





