<div id="newsletter" class="container">

    <!--   -->
    <form action="/newsletter" method="POST" style="width: 100%">
        <div class="form-group row" style="justify-content: center; margin:0">
            <div class="col-sm-12 text-center">Assine nossa Newsletter!</label>
            </div>
            <div class="col-sm-12">
                <input name="newsmail" type="email" class="form-control-plaintext text-center" id="newsmail" autocomplete="off"
                    placeholder="seu-email@email.com">
            </div>


            <div class="col-sm-12 row">

                <button class="btn btn-secondary" style="width: 100%;" id="newsletterbutton" type="submit">Enviar</button>
            </div>

            <div>
                <ul id="erronewsletter">
                    <li>Não foi possível cadastrar seu e-mail.</li>

                </ul>
            </div>

        </div>
    </form>

</div>

<script>
  
    document.getElementById("newsletterbutton").addEventListener("click",
        function (ev) { 
            ev.preventDefault();
            let newsmail = document.getElementById("newsmail").value;
            let http = new XMLHttpRequest();
            http.open("POST", "/newsletter", true);
            http.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            http.send(JSON.stringify({"newsmail":newsmail}));              
                
                //resposta
               
            http.onreadystatechange = function() {
                if(this.readyState == this.DONE) {
                    if(this.status == 200) {
                        alert("Obrigado por assinar nossa NewsLetter!!!")
                    }
                    else {
                        alert("Não foi possível cadastrar seu e-mail.")
                    }
                }
            }
      
        }
    )
             
</script>