<!DOCTYPE html>
<html>
<%- include('partials/head', {title:"Cadastre seu pacote"}) %>

<body>
  <div class="nav cover-container d-flex w-100 h-100 p-3 mx-auto flex-column nav-rosa">
    <%- include('partials/header') %>
  </div>

  <main class="pt-5 pb-5" id="cadastrar-pacote">
    <div class="jumbotron col-8 mx-auto">
      <h1 class="display-6">Cadastre seu pacote!</h1>
      <p class="lead">Você poderá oferecer mais uma opção de viagem para nossos usuários e, em poucos passos, ela já
        estará no ar. Só precisamos obter algumas informações.</p>

      <div class="container mt-5">
        <div class="row">
          <div class="col-3">
            <div class="list-group" id="list-tab" role="tablist">
              <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list"
                href="#list-home" role="tab" aria-controls="home">Primeiro passo</a>
              <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list"
                href="#list-profile" role="tab" aria-controls="profile">Mais detalhes</a>
              <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list"
                href="#list-messages" role="tab" aria-controls="messages">Sobre a hospedagem</a>
              <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list"
                href="#list-settings" role="tab" aria-controls="settings">Fotos</a>
            </div>
          </div>
          <div class="col-9">
            <div class="tab-content" id="nav-tabContent">
              <form>
                <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                  <div class="form-row">
                    <div class="form-group col">
                      <label for="nome">Dê um nome ao seu pacote:</label>
                      <input type="text" class="form-control" id="nome"
                        placeholder="Exemplo: Carnaval em Porto Seguro 5 noites com aéreo">
                    </div>
                  </div>
                  <div class="form-row d-flex justify-content-between">
                    <div class="form-group col-md-6">
                      <label for="data-de-partida">Data de partida:</label>
                      <input type="date" class="form-control" id="data-de-partida" />
                    </div>
                    <div class="form-group col-md-6">
                      <label for="data-de-chegada">Data de chegada:</label>
                      <input type="date" class="form-control" id="data-de-chegada" />
                    </div>
                  </div>
                </div> <!-- fecha row -->
            </div>
            <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
              <div class="form-row">
                <div class="form-group col-12">
                  <label for="descricao">Adicione aqui a descrição deste pacote:</label>
                  <textarea class="form-control" id="descricao" rows="5"
                    placeholder="Forneça detalhes sobre o destino, hospedagem, passeios, tudo que estiver incluso."></textarea>
                </div>
                <div class="form-row d-flex justify-content-between">
                  <div class="form-group col-md-4">
                    <label for="preco">Valor:</label>
                    <input type="text" class="form-control" id="preco">
                  </div>
                  <div class="form-group col-md-3">
                    <label for="diarias">Diárias em hotel:</label>
                    <select class="custom-select form-control" id="diárias" required>
                      <option selected disabled value="">Selecione...</option>
                      <option>0</option>
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                      <option>6</option>
                      <option>7</option>
                      <option>8</option>
                      <option>9</option>
                      <option>10</option>
                      <option>11</option>
                      <option>12</option>
                      <option>13</option>
                      <option>14</option>
                      <option>15</option>
                    </select>
                  </div>
                  <div class="form-group col-md-4">
                    <legend class="col-form-label">Este pacote inclui aéreo?</legend>
                    <div class="custom-control custom-radio custom-control-inline">
                      <input type="radio" id="aereoS" name="aereo" class="custom-control-input">
                      <label class="custom-control-label" for="aereoS">Sim</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                      <input type="radio" id="aereoN" name="aereo" class="custom-control-input">
                      <label class="custom-control-label" for="aereoN">Não</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
              <div class="form-row">
                <div class="form-group col-6">
                  <label for="hospedagem-local">Digite a cidade da hospedagem:</label>
                  <input type="text" class="form-control" id="hospedagem-local">
                </div>
                <div class="form-group col-md-6">
                  <label for="hospedagem-nome-hotel">Nome do hotel:</label>
                  <input type="text" class="form-control" id="hospedagem-nome-hotel">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="hospedagem-data-de-entrada">Data de entrada:</label>
                  <input type="date" class="form-control" id="hospedagem-data-de-entrada" />
                </div>
                <div class="form-group col-md-6">
                  <label for="hospedagem-data-de-saida">Data de saída:</label>
                  <input type="date" class="form-control" id="hospedagem-data-de-entrada" />
                </div>
              </div>
              <div class="form-row d-flex justify-content-between">
                <div class="form-group col-md-3">
                  <label for="hospedagem-pessoas">Pessoas por quarto:</label>
                  <select class="custom-select form-control id=" hospedagem-pessoas" required>
                    <option selected disabled value="">Selecione...</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                  </select>
                </div>
                <div class="form-group col-md-3">
                  <label for="hospedagem-estrelas">Estrelas:</label>
                  <select class="custom-select form-control id=" hospedagem-estrelas" required>
                    <option selected disabled value="">Selecione...</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
                <div class="form-group col-md-3">
                  <legend class="col-form-label">Inclui refeições?</legend>
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="hospedagem-refeicaoS" name="hospedagem-refeicao"
                      class="custom-control-input">
                    <label class="custom-control-label" for="hospedagem-refeicaoS">Sim</label>
                  </div>
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="hospedagem-refeicaoN" name="hospedagem-refeicao"
                      class="custom-control-input">
                    <label class="custom-control-label" for="hospedagem-refeicaoN">Não</label>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-12">
                  <label for="hospedagem-descricao">Adicione aqui uma breve descrição sobre o hotel:</label>
                  <textarea class="form-control" id="hospedagem-descricao" rows="2"
                    placeholder="Forneça detalhes sobre o localização, comodidades, etc."></textarea>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">
              <div class="form-group">
                <label for="imagem">Faça o upload das fotos desde pacote:</label>
                <input type="file" class="form-control-file" id="imagem">
              </div>
              <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-secondary mb-2">Estamos prontos!</button>
              </div>
            </div>
            

            </form>
          </div>
        </div>
      </div>
  </main>



  <%- include('partials/footer') %>
</body>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</html>