<!DOCTYPE html>
<html>
<%- include('partials/head', {title:"Wally"}) %>

<body>
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column" id="foto-principal">
    <%- include('partials/header') %>

    <!--FORMULÁRIO DE BUSCA-->
    <main role="main" class="inner cover">
      <div class="container d-flex justify-content-center col-9" id="caixa-de-busca">
        <form>
          <div class="form-row">
            <div class="form-group col-md-9">
              <label for="destino">Destino:</label>
              <input type="text" class="form-control" id="destino" placeholder="Insira aqui seu destino..." />
            </div>
            <div class="form-group col-md-3">
              <label for="hospedes">Hóspedes:</label>
              <select class="custom-select" id="hospedes" required>
                <option selected disabled value="">Selecione...</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
              </select>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="checkin">Check-in:</label>
              <input type="date" class="form-control" id="checkin" />
            </div>
            <div class="form-group col-md-6">
              <label for="checkout">Check-out:</label>
              <input type="date" class="form-control" id="checkout" />
            </div>
          </div>
          <div class="form-row justify-content-center">
            <button type="submit" class="btn btn-secondary">Buscar</button>

            <!--AGENTE DE VIAGENS-->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#agente-de-viagens">
              Agente de Viagens
            </button>
            <div class="modal fade" id="agente-de-viagens" tabindex="-1" role="dialog"
              aria-labelledby="agente-de-viagensCenterTitle" aria-hidden="true">
              <div id="agente-de-viagens" class="modal-dialog modal-dialog-centered" role="document">
                <div id="agente-de-viagens" class="modal-content">
                  <div id="agente-de-viagens" class="modal-header">
                    <a class="navbar-logo" href="#"><img src="/stylesheets/img/logoWally-Black.png" alt="Wally"></a>
                  </div>
                  <div class="modal-body">
                    <form>
                      <div class="form-group">
                        <label for="exampleFormControlTextarea1">Quer viajar pelo BRASIL ou pelo MUNDO?</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
                      </div>
                    </form>
                    <div>
                      <img src="/stylesheets/img/Agente-Wally1.png" alt="Wally">
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </form>
      </div>
    </main>
  </div>

  <!--SEÇÃO VIAGENS EM ALTA-->
  <section class="container destaques mt-5">
    <h3>Viagens em alta</h3>
    <h5>Os pacotes mais comprados pelos usuários</h5>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <!--PRIMEIRO DECK-->
        <div class="carousel-item active">
          <div class="card-deck justify-content-center">
            <div class="card">
              <img src="../../images/destaques-ex1-tahiti.jpg" class="card-img-top" alt="Tahiti" />
              <div class="card-body">
                <h5 class="card-title">Bora Bora</h5>
                <p class="card-text">
                  Um verdadeiro paraíso tropical, com praias cristalinas,
                  recifes de corais, areia branca e românticos bangalôs sobre
                  a água.
                </p>
                <img src="../../images/rating.png" class="img-fluid" alt="rating" />
                <a href="#" class="card-link">R$ 3.899 / pessoa</a>
              </div>
            </div>
            <div class="card">
              <img src="../../images/destaques-ex1-tahiti.jpg" class="card-img-top" alt="Tahiti" />
              <div class="card-body">
                <h5 class="card-title">Bora Bora</h5>
                <p class="card-text">
                  Um verdadeiro paraíso tropical, com praias cristalinas,
                  recifes de corais, areia branca e românticos bangalôs sobre
                  a água.
                </p>
                <img src="../../images/rating.png" class="img-fluid" alt="rating" />
                <a href="#" class="card-link">R$ 3.899 / pessoa</a>
              </div>
            </div>
            <div class="card">
              <img src="../../images/destaques-ex1-tahiti.jpg" class="card-img-top" alt="Tahiti" />
              <div class="card-body">
                <h5 class="card-title">Bora Bora</h5>
                <p class="card-text">
                  Um verdadeiro paraíso tropical, com praias cristalinas,
                  recifes de corais, areia branca e românticos bangalôs sobre
                  a água.
                </p>
                <img src="../../images/rating.png" class="img-fluid" alt="rating" />
                <a href="#" class="card-link">R$ 3.899 / pessoa</a>
              </div>
            </div>
            <div class="card">
              <img src="../../images/destaques-ex1-tahiti.jpg" class="card-img-top" alt="Tahiti" />
              <div class="card-body">
                <h5 class="card-title">Bora Bora</h5>
                <p class="card-text">
                  Um verdadeiro paraíso tropical, com praias cristalinas,
                  recifes de corais, areia branca e românticos bangalôs sobre
                  a água.
                </p>
                <img src="../../images/rating.png" class="img-fluid" alt="rating" />
                <a href="#" class="card-link">R$ 3.899 / pessoa</a>
              </div>
            </div>
          </div>
        </div>
        <!--SEGUNDO DECK-->
        <div class="carousel-item">
          <div class="card-deck">
            <div class="card">
              <img src="../../images/destaques-ex1-tahiti.jpg" class="card-img-top" alt="Tahiti" />
              <div class="card-body">
                <h5 class="card-title">Bora Bora</h5>
                <p class="card-text">
                  Um verdadeiro paraíso tropical, com praias cristalinas,
                  recifes de corais, areia branca e românticos bangalôs sobre
                  a água.
                </p>
                <img src="../../images/rating.png" class="img-fluid" alt="rating" />
                <a href="#" class="card-link">R$ 3.899 / pessoa</a>
              </div>
            </div>
            <div class="card">
              <img src="../../images/destaques-ex1-tahiti.jpg" class="card-img-top" alt="Tahiti" />
              <div class="card-body">
                <h5 class="card-title">Bora Bora</h5>
                <p class="card-text">
                  Um verdadeiro paraíso tropical, com praias cristalinas,
                  recifes de corais, areia branca e românticos bangalôs sobre
                  a água.
                </p>
                <img src="../../images/rating.png" class="img-fluid" alt="rating" />
                <a href="#" class="card-link">R$ 3.899 / pessoa</a>
              </div>
            </div>
            <div class="card">
              <img src="../../images/destaques-ex1-tahiti.jpg" class="card-img-top" alt="Tahiti" />
              <div class="card-body">
                <h5 class="card-title">Bora Bora</h5>
                <p class="card-text">
                  Um verdadeiro paraíso tropical, com praias cristalinas,
                  recifes de corais, areia branca e românticos bangalôs sobre
                  a água.
                </p>
                <img src="../../images/rating.png" class="img-fluid" alt="rating" />
                <a href="#" class="card-link">R$ 3.899 / pessoa</a>
              </div>
            </div>
            <div class="card">
              <img src="../../images/destaques-ex1-tahiti.jpg" class="card-img-top" alt="Tahiti" />
              <div class="card-body">
                <h5 class="card-title">Bora Bora</h5>
                <p class="card-text">
                  Um verdadeiro paraíso tropical, com praias cristalinas,
                  recifes de corais, areia branca e românticos bangalôs sobre
                  a água.
                </p>
                <img src="../../images/rating.png" class="img-fluid" alt="rating" />
                <a href="#" class="card-link">R$ 3.899 / pessoa</a>
              </div>
            </div>
          </div>
        </div>
        <!--TERCEIRO DECK-->
        <div class="carousel-item">
          <div class="card-deck">
            <div class="card">
              <img src="../../images/destaques-ex1-tahiti.jpg" class="card-img-top" alt="Tahiti" />
              <div class="card-body">
                <h5 class="card-title">Bora Bora</h5>
                <p class="card-text">
                  Um verdadeiro paraíso tropical, com praias cristalinas,
                  recifes de corais, areia branca e românticos bangalôs sobre
                  a água.
                </p>
                <img src="../../images/rating.png" class="img-fluid" alt="rating" />
                <a href="#" class="card-link">R$ 3.899 / pessoa</a>
              </div>
            </div>
            <div class="card">
              <img src="../../images/destaques-ex1-tahiti.jpg" class="card-img-top" alt="Tahiti" />
              <div class="card-body">
                <h5 class="card-title">Bora Bora</h5>
                <p class="card-text">
                  Um verdadeiro paraíso tropical, com praias cristalinas,
                  recifes de corais, areia branca e românticos bangalôs sobre
                  a água.
                </p>
                <img src="../../images/rating.png" class="img-fluid" alt="rating" />
                <a href="#" class="card-link">R$ 3.899 / pessoa</a>
              </div>
            </div>
            <div class="card">
              <img src="../../images/destaques-ex1-tahiti.jpg" class="card-img-top" alt="Tahiti" />
              <div class="card-body">
                <h5 class="card-title">Bora Bora</h5>
                <p class="card-text">
                  Um verdadeiro paraíso tropical, com praias cristalinas,
                  recifes de corais, areia branca e românticos bangalôs sobre
                  a água.
                </p>
                <img src="../../images/rating.png" class="img-fluid" alt="rating" />
                <a href="#" class="card-link">R$ 3.899 / pessoa</a>
              </div>
            </div>
            <div class="card">
              <img src="../../images/destaques-ex1-tahiti.jpg" class="card-img-top" alt="Tahiti" />
              <div class="card-body">
                <h5 class="card-title">Bora Bora</h5>
                <p class="card-text">
                  Um verdadeiro paraíso tropical, com praias cristalinas,
                  recifes de corais, areia branca e românticos bangalôs sobre
                  a água.
                </p>
                <img src="../../images/rating.png" class="img-fluid" alt="rating" />
                <a href="#" class="card-link">R$ 3.899 / pessoa</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <div class="botao-slide mr-5">
          <span class="carousel-control-prev-icon m-1" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </div>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <div class="botao-slide ml-5">
          <span class="carousel-control-next-icon m-1" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </div>
      </a>
    </div>
  </section>

  <!--SEÇÃO BRASIL-->
  <section class="container destaques mt-5">
    <h3>Conheça o Brasil</h3>
    <h5>Viaje pelo Brasil e descubra paisagens maravilhosas</h5>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <!--PRIMEIRO DECK-->
        <div class="carousel-item active">
          <div class="card-deck justify-content-center">
            <div class="card">
              <img src="../../images/destaques-ex1-tahiti.jpg" class="card-img-top" alt="Tahiti" />
              <div class="card-body">
                <h5 class="card-title">Bora Bora</h5>
                <p class="card-text">
                  Um verdadeiro paraíso tropical, com praias cristalinas,
                  recifes de corais, areia branca e românticos bangalôs sobre
                  a água.
                </p>
                <img src="../../images/rating.png" class="img-fluid" alt="rating" />
                <a href="#" class="card-link">R$ 3.899 / pessoa</a>
              </div>
            </div>
            <div class="card">
              <img src="../../images/destaques-ex1-tahiti.jpg" class="card-img-top" alt="Tahiti" />
              <div class="card-body">
                <h5 class="card-title">Bora Bora</h5>
                <p class="card-text">
                  Um verdadeiro paraíso tropical, com praias cristalinas,
                  recifes de corais, areia branca e românticos bangalôs sobre
                  a água.
                </p>
                <img src="../../images/rating.png" class="img-fluid" alt="rating" />
                <a href="#" class="card-link">R$ 3.899 / pessoa</a>
              </div>
            </div>
            <div class="card">
              <img src="../../images/destaques-ex1-tahiti.jpg" class="card-img-top" alt="Tahiti" />
              <div class="card-body">
                <h5 class="card-title">Bora Bora</h5>
                <p class="card-text">
                  Um verdadeiro paraíso tropical, com praias cristalinas,
                  recifes de corais, areia branca e românticos bangalôs sobre
                  a água.
                </p>
                <img src="../../images/rating.png" class="img-fluid" alt="rating" />
                <a href="#" class="card-link">R$ 3.899 / pessoa</a>
              </div>
            </div>
            <div class="card">
              <img src="../../images/destaques-ex1-tahiti.jpg" class="card-img-top" alt="Tahiti" />
              <div class="card-body">
                <h5 class="card-title">Bora Bora</h5>
                <p class="card-text">
                  Um verdadeiro paraíso tropical, com praias cristalinas,
                  recifes de corais, areia branca e românticos bangalôs sobre
                  a água.
                </p>
                <img src="../../images/rating.png" class="img-fluid" alt="rating" />
                <a href="#" class="card-link">R$ 3.899 / pessoa</a>
              </div>
            </div>
          </div>
        </div>
        <!--SEGUNDO DECK-->
        <div class="carousel-item">
          <div class="card-deck">
            <div class="card">
              <img src="../../images/destaques-ex1-tahiti.jpg" class="card-img-top" alt="Tahiti" />
              <div class="card-body">
                <h5 class="card-title">Bora Bora</h5>
                <p class="card-text">
                  Um verdadeiro paraíso tropical, com praias cristalinas,
                  recifes de corais, areia branca e românticos bangalôs sobre
                  a água.
                </p>
                <img src="../../images/rating.png" class="img-fluid" alt="rating" />
                <a href="#" class="card-link">R$ 3.899 / pessoa</a>
              </div>
            </div>
            <div class="card">
              <img src="../../images/destaques-ex1-tahiti.jpg" class="card-img-top" alt="Tahiti" />
              <div class="card-body">
                <h5 class="card-title">Bora Bora</h5>
                <p class="card-text">
                  Um verdadeiro paraíso tropical, com praias cristalinas,
                  recifes de corais, areia branca e românticos bangalôs sobre
                  a água.
                </p>
                <img src="../../images/rating.png" class="img-fluid" alt="rating" />
                <a href="#" class="card-link">R$ 3.899 / pessoa</a>
              </div>
            </div>
            <div class="card">
              <img src="../../images/destaques-ex1-tahiti.jpg" class="card-img-top" alt="Tahiti" />
              <div class="card-body">
                <h5 class="card-title">Bora Bora</h5>
                <p class="card-text">
                  Um verdadeiro paraíso tropical, com praias cristalinas,
                  recifes de corais, areia branca e românticos bangalôs sobre
                  a água.
                </p>
                <img src="../../images/rating.png" class="img-fluid" alt="rating" />
                <a href="#" class="card-link">R$ 3.899 / pessoa</a>
              </div>
            </div>
            <div class="card">
              <img src="../../images/destaques-ex1-tahiti.jpg" class="card-img-top" alt="Tahiti" />
              <div class="card-body">
                <h5 class="card-title">Bora Bora</h5>
                <p class="card-text">
                  Um verdadeiro paraíso tropical, com praias cristalinas,
                  recifes de corais, areia branca e românticos bangalôs sobre
                  a água.
                </p>
                <img src="../../images/rating.png" class="img-fluid" alt="rating" />
                <a href="#" class="card-link">R$ 3.899 / pessoa</a>
              </div>
            </div>
          </div>
        </div>
        <!--TERCEIRO DECK-->
        <div class="carousel-item">
          <div class="card-deck">
            <div class="card">
              <img src="../../images/destaques-ex1-tahiti.jpg" class="card-img-top" alt="Tahiti" />
              <div class="card-body">
                <h5 class="card-title">Bora Bora</h5>
                <p class="card-text">
                  Um verdadeiro paraíso tropical, com praias cristalinas,
                  recifes de corais, areia branca e românticos bangalôs sobre
                  a água.
                </p>
                <img src="../../images/rating.png" class="img-fluid" alt="rating" />
                <a href="#" class="card-link">R$ 3.899 / pessoa</a>
              </div>
            </div>
            <div class="card">
              <img src="../../images/destaques-ex1-tahiti.jpg" class="card-img-top" alt="Tahiti" />
              <div class="card-body">
                <h5 class="card-title">Bora Bora</h5>
                <p class="card-text">
                  Um verdadeiro paraíso tropical, com praias cristalinas,
                  recifes de corais, areia branca e românticos bangalôs sobre
                  a água.
                </p>
                <img src="../../images/rating.png" class="img-fluid" alt="rating" />
                <a href="#" class="card-link">R$ 3.899 / pessoa</a>
              </div>
            </div>
            <div class="card">
              <img src="../../images/destaques-ex1-tahiti.jpg" class="card-img-top" alt="Tahiti" />
              <div class="card-body">
                <h5 class="card-title">Bora Bora</h5>
                <p class="card-text">
                  Um verdadeiro paraíso tropical, com praias cristalinas,
                  recifes de corais, areia branca e românticos bangalôs sobre
                  a água.
                </p>
                <img src="../../images/rating.png" class="img-fluid" alt="rating" />
                <a href="#" class="card-link">R$ 3.899 / pessoa</a>
              </div>
            </div>
            <div class="card">
              <img src="../../images/destaques-ex1-tahiti.jpg" class="card-img-top" alt="Tahiti" />
              <div class="card-body">
                <h5 class="card-title">Bora Bora</h5>
                <p class="card-text">
                  Um verdadeiro paraíso tropical, com praias cristalinas,
                  recifes de corais, areia branca e românticos bangalôs sobre
                  a água.
                </p>
                <img src="../../images/rating.png" class="img-fluid" alt="rating" />
                <a href="#" class="card-link">R$ 3.899 / pessoa</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <div class="botao-slide mr-5">
          <span class="carousel-control-prev-icon m-1" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </div>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <div class="botao-slide ml-5">
          <span class="carousel-control-next-icon m-1" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </div>
      </a>
    </div>
  </section>

  <!--SEÇÃO MUNDO-->
  <section class="container destaques mt-5">
    <h3>Viaje pelo mundo</h3>
    <h5>Escolha algum destes pacotes para conhecer outros países</h5>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <!--PRIMEIRO DECK-->
        <div class="carousel-item active">
          <div class="card-deck justify-content-center">
            <div class="card">
              <img src="../../images/destaques-ex1-tahiti.jpg" class="card-img-top" alt="Tahiti" />
              <div class="card-body">
                <h5 class="card-title">Bora Bora</h5>
                <p class="card-text">
                  Um verdadeiro paraíso tropical, com praias cristalinas,
                  recifes de corais, areia branca e românticos bangalôs sobre
                  a água.
                </p>
                <img src="../../images/rating.png" class="img-fluid" alt="rating" />
                <a href="#" class="card-link">R$ 3.899 / pessoa</a>
              </div>
            </div>
            <div class="card">
              <img src="../../images/destaques-ex1-tahiti.jpg" class="card-img-top" alt="Tahiti" />
              <div class="card-body">
                <h5 class="card-title">Bora Bora</h5>
                <p class="card-text">
                  Um verdadeiro paraíso tropical, com praias cristalinas,
                  recifes de corais, areia branca e românticos bangalôs sobre
                  a água.
                </p>
                <img src="../../images/rating.png" class="img-fluid" alt="rating" />
                <a href="#" class="card-link">R$ 3.899 / pessoa</a>
              </div>
            </div>
            <div class="card">
              <img src="../../images/destaques-ex1-tahiti.jpg" class="card-img-top" alt="Tahiti" />
              <div class="card-body">
                <h5 class="card-title">Bora Bora</h5>
                <p class="card-text">
                  Um verdadeiro paraíso tropical, com praias cristalinas,
                  recifes de corais, areia branca e românticos bangalôs sobre
                  a água.
                </p>
                <img src="../../images/rating.png" class="img-fluid" alt="rating" />
                <a href="#" class="card-link">R$ 3.899 / pessoa</a>
              </div>
            </div>
            <div class="card">
              <img src="../../images/destaques-ex1-tahiti.jpg" class="card-img-top" alt="Tahiti" />
              <div class="card-body">
                <h5 class="card-title">Bora Bora</h5>
                <p class="card-text">
                  Um verdadeiro paraíso tropical, com praias cristalinas,
                  recifes de corais, areia branca e românticos bangalôs sobre
                  a água.
                </p>
                <img src="../../images/rating.png" class="img-fluid" alt="rating" />
                <a href="#" class="card-link">R$ 3.899 / pessoa</a>
              </div>
            </div>
          </div>
        </div>
        <!--SEGUNDO DECK-->
        <div class="carousel-item">
          <div class="card-deck">
            <div class="card">
              <img src="../../images/destaques-ex1-tahiti.jpg" class="card-img-top" alt="Tahiti" />
              <div class="card-body">
                <h5 class="card-title">Bora Bora</h5>
                <p class="card-text">
                  Um verdadeiro paraíso tropical, com praias cristalinas,
                  recifes de corais, areia branca e românticos bangalôs sobre
                  a água.
                </p>
                <img src="../../images/rating.png" class="img-fluid" alt="rating" />
                <a href="#" class="card-link">R$ 3.899 / pessoa</a>
              </div>
            </div>
            <div class="card">
              <img src="../../images/destaques-ex1-tahiti.jpg" class="card-img-top" alt="Tahiti" />
              <div class="card-body">
                <h5 class="card-title">Bora Bora</h5>
                <p class="card-text">
                  Um verdadeiro paraíso tropical, com praias cristalinas,
                  recifes de corais, areia branca e românticos bangalôs sobre
                  a água.
                </p>
                <img src="../../images/rating.png" class="img-fluid" alt="rating" />
                <a href="#" class="card-link">R$ 3.899 / pessoa</a>
              </div>
            </div>
            <div class="card">
              <img src="../../images/destaques-ex1-tahiti.jpg" class="card-img-top" alt="Tahiti" />
              <div class="card-body">
                <h5 class="card-title">Bora Bora</h5>
                <p class="card-text">
                  Um verdadeiro paraíso tropical, com praias cristalinas,
                  recifes de corais, areia branca e românticos bangalôs sobre
                  a água.
                </p>
                <img src="../../images/rating.png" class="img-fluid" alt="rating" />
                <a href="#" class="card-link">R$ 3.899 / pessoa</a>
              </div>
            </div>
            <div class="card">
              <img src="../../images/destaques-ex1-tahiti.jpg" class="card-img-top" alt="Tahiti" />
              <div class="card-body">
                <h5 class="card-title">Bora Bora</h5>
                <p class="card-text">
                  Um verdadeiro paraíso tropical, com praias cristalinas,
                  recifes de corais, areia branca e românticos bangalôs sobre
                  a água.
                </p>
                <img src="../../images/rating.png" class="img-fluid" alt="rating" />
                <a href="#" class="card-link">R$ 3.899 / pessoa</a>
              </div>
            </div>
          </div>
        </div>
        <!--TERCEIRO DECK-->
        <div class="carousel-item">
          <div class="card-deck">
            <div class="card">
              <img src="../../images/destaques-ex1-tahiti.jpg" class="card-img-top" alt="Tahiti" />
              <div class="card-body">
                <h5 class="card-title">Bora Bora</h5>
                <p class="card-text">
                  Um verdadeiro paraíso tropical, com praias cristalinas,
                  recifes de corais, areia branca e românticos bangalôs sobre
                  a água.
                </p>
                <img src="../../images/rating.png" class="img-fluid" alt="rating" />
                <a href="#" class="card-link">R$ 3.899 / pessoa</a>
              </div>
            </div>
            <div class="card">
              <img src="../../images/destaques-ex1-tahiti.jpg" class="card-img-top" alt="Tahiti" />
              <div class="card-body">
                <h5 class="card-title">Bora Bora</h5>
                <p class="card-text">
                  Um verdadeiro paraíso tropical, com praias cristalinas,
                  recifes de corais, areia branca e românticos bangalôs sobre
                  a água.
                </p>
                <img src="../../images/rating.png" class="img-fluid" alt="rating" />
                <a href="#" class="card-link">R$ 3.899 / pessoa</a>
              </div>
            </div>
            <div class="card">
              <img src="../../images/destaques-ex1-tahiti.jpg" class="card-img-top" alt="Tahiti" />
              <div class="card-body">
                <h5 class="card-title">Bora Bora</h5>
                <p class="card-text">
                  Um verdadeiro paraíso tropical, com praias cristalinas,
                  recifes de corais, areia branca e românticos bangalôs sobre
                  a água.
                </p>
                <img src="../../images/rating.png" class="img-fluid" alt="rating" />
                <a href="#" class="card-link">R$ 3.899 / pessoa</a>
              </div>
            </div>
            <div class="card">
              <img src="../../images/destaques-ex1-tahiti.jpg" class="card-img-top" alt="Tahiti" />
              <div class="card-body">
                <h5 class="card-title">Bora Bora</h5>
                <p class="card-text">
                  Um verdadeiro paraíso tropical, com praias cristalinas,
                  recifes de corais, areia branca e românticos bangalôs sobre
                  a água.
                </p>
                <img src="../../images/rating.png" class="img-fluid" alt="rating" />
                <a href="#" class="card-link">R$ 3.899 / pessoa</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <div class="botao-slide mr-5">
          <span class="carousel-control-prev-icon m-1" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </div>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <div class="botao-slide ml-5">
          <span class="carousel-control-next-icon m-1" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </div>
      </a>
    </div>
  </section>

  <%- include('partials/footer') %>
</body>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</html>