
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pagamento Contluído</title>
  <link rel="stylesheet" href="/stylesheets/css/style.css" />
</head>
<body>

  

  <div id='modal' class="point" style="width: 100vw;height: 100vh; display:flex; justify-content: center; align-items: center;">
      <div id='pag-concluido'>
        <div><img src="/stylesheets/img/Agente-Wally1.png" alt="Wally sinalizando tchau" style="max-width: 50vh;">
        </div>
        <div><h1>Pagamento concluído!</h1>
        </div>
      </div>
  </div>
  
  <script>
  
  setTimeout(()=>{
      window.location = "/"
  },2000)
  
  </script>
  
</body>
</html>
  
