
 <link rel="stylesheet" href="/stylesheets/css/style.css" />

<div id='modal' class="point" style="width: 100%;height: 100%; display:flex; justify-content: center; align-items: center;">
    <div id='pag-concluido'>
      <div><img src="/stylesheets/img/Agente-Wally1.png" alt="Wally sinalizando tchau" style="max-width: 50vh;">
      </div>
      <div><h1>Pagamento concluído!</h1>
      </div>
    </div>
</div>

<!-- <script>

setTimeout(()=>{
    window.location = "/"
},2000)

</script> -->