body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: blue;
}

a {
  color: #00B7FF;
}

.navbar-nav .nav-item .nav-link {
  font-family: 'Lucida Grande';
  padding-left:20px;
  padding-right:20px;
  color: white;
}

.navbar-nav .nav-item .nav-link a:focus {
  color:red;
}