body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: blue;
}

a {
  color: #00b7ff;
}

.navbar {
  padding: 0px;
}

.navbar-nav .nav-item .nav-link {
  font-family: "Lucida Grande";
  padding-left: 30px;
  color: white;
}

.navbar-nav .nav-item .nav-link a:focus {
  color: red;
}

.page-footer {
  font-family: "Lucida Grande";
  color: white;
  background-color: rgb(44, 44, 44);
  padding-top: 15px;
  padding-bottom: 15px;
}

/* Index */

#principal-home {
  padding: 0;
}

#foto-principal {
  background-image: url('../../images/foto-principal.jpg');
  background-position: center;
  background-size: cover;
}

#formulario-de-pesquisa {
  min-height: 70vh;
  width: 40vw;
}